{% extends 'layout.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
	<section>
	    <h3 class="page-header">Strona główna</h3>
	    <p class="lead">
	    	W systemie ticketowym zgłaszamy zauważone błędy w naszych produktach.
	    <p>
	    
	    <div class="container">
		    <span class="label label-info">Tickety bez właściciela</span>
	    	{%  if nobodysTickets|length > 0 %}
				<table class="table">
					<thead>
						<tr>
							<th>Data dodania</th>
							<th>Tytuł</th>
							<th>Priorytet</th>
							<th>Kolejka</th>
						</tr>
					</thead>
					<tbody>
					{% for ticket in nobodysTickets %}
						<tr>
							<td>{{ ticket.NOTIFICATION_REPORT_DATE|e }}</td>
							<td><a href="{{ url('/tickets/view/', {'id': ticket.NOTIFICATION_ID}) }}" title="Zobacz ticketa">{{ ticket.NOTIFICATION_TITLE|length > 30 ? ticket.NOTIFICATION_TITLE|slice(0, 30) ~ '...' : ticket.NOTIFICATION_TITLE  }}</a></td>
							<td>{{ ticket.PRIORITY_VALUE|e }}</td>
							<td>{{ ticket.QUEUE_NAME|e }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					Brak wolnych ticketów.
				</p>
			{% endif %}
	    </div>
	    <div class="container">
	    	<span class="label label-info">Tickety, których jesteś autorem</span>
	    	{%  if userTickets|length > 0 %}
				<table class="table">
					<thead>
						<tr>
							<th>Data dodania</th>
							<th>Tytuł</th>
							<th>Priorytet</th>
							<th>Kolejka</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
					{% for ticket in userTickets %}
						<tr>
							<td>{{ ticket.NOTIFICATION_REPORT_DATE|e }}</td>
							<td><a href="{{ url('/tickets/view/', {'id': ticket.NOTIFICATION_ID}) }}" title="Zobacz ticketa">{{ ticket.NOTIFICATION_TITLE|length > 30 ? ticket.NOTIFICATION_TITLE|slice(0, 30) ~ '...' : ticket.NOTIFICATION_TITLE  }}</a></td>
							<td>{{ ticket.PRIORITY_VALUE|e }}</td>
							<td>{{ ticket.QUEUE_NAME|e }}</td>
							<td>{{ ticket.STATUS_VALUE|e }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					Nie jesteś autorem żadnego ticketa.
				</p>
			{% endif %}
	    </div>
	    <div class="container">
	    	<span class="label label-info">Tickety przypisane do Ciebie</span>
	    	{%  if ticketsAssignedToUser|length > 0 %}
				<table class="table">
					<thead>
						<tr>
							<th>Data dodania</th>
							<th>Tytuł</th>
							<th>Priorytet</th>
							<th>Kolejka</th>
							<th>Status</th>
							<th>Zgłoszone przez</th>
						</tr>
					</thead>
					<tbody>
					{% for ticket in ticketsAssignedToUser %}
						<tr>
							<td>{{ ticket.NOTIFICATION_REPORT_DATE|e }}</td>
							<td><a href="{{ url('/tickets/view/', {'id': ticket.NOTIFICATION_ID}) }}" title="Zobacz ticketa">{{ ticket.NOTIFICATION_TITLE|length > 30 ? ticket.NOTIFICATION_TITLE|slice(0, 30) ~ '...' : ticket.NOTIFICATION_TITLE  }}</a></td>
							<td>{{ ticket.PRIORITY_VALUE|e }}</td>
							<td>{{ ticket.QUEUE_NAME|e }}</td>
							<td>{{ ticket.STATUS_VALUE|e }}</td>
							<td>
								<a href="{{ url('/users/show/', {'id': ticket.USER_ID}) }}"  title="Zobacz usera">{{ ticket.USER_NAME|e }} {{ ticket.USER_SURNAME|e }}</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					Aktualnie nie jesteś przypisany do żadnego ticketa.
				</p>
			{% endif %}
	    </div>
	</section>
{% endblock %}