{% extends 'layout.twig' %}

{% block title %}{{ ticket.TCK_TITLE }}{% endblock %}

{% block content %}
    <div class="panel panel-info author-panel">
        <div class="panel-heading">Author</div>

        <div class="panel-body">
            Imię Nazwisko
        </div>
    </div>
    <div class="panel panel-info owner-panel">
        <div class="panel-heading">Assigned to</div>

        <div class="panel-body">
            Imię Nazwisko
        </div>
    </div>
    <div class="panel panel-info date-panel">
        <div class="panel-heading">Creation date</div>

        <div class="panel-body">
            {{ ticket.TCK_CREATION_DATE }}
        </div>
    </div>
    <div class="panel panel-info status-panel">
        <div class="panel-heading">Status</div>

        <div class="panel-body">
            {{ ticket.STS_VALUE }}
        </div>
    </div>

    <div class="panel panel-warning priority-panel">
        <div class="panel-heading">Priority</div>

        <div class="panel-body">
            {{ ticket.PRT_VALUE }}
        </div>
    </div>

    <div class="panel panel-info queue-panel">
        <div class="panel-heading">Queue</div>

        <div class="panel-body">
            {{ ticket.QUE_NAME }}
        </div>
    </div>

    <div class="panel panel-default ticket-panel">
        <div class="panel-heading">{{ ticket.TCK_TITLE }}</div>

        <div class="panel-body">
            {{ ticket.TCK_DESC }}
        </div>
    </div>

    {% if ticket.USR_TCK_OWNER is null %}
        <button type="button" class="btn btn-default btn-lg">Accept</button>
    {% endif %}

    {% if isAuthor %}

        <div class="row">
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(queueForm) }}
                </form>
            </div>
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(priorityForm) }}
                </form>
            </div>
        </div>


    {% endif %}

    {% if isOwner %}
        <div class="row">
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(queueForm) }}
                </form>
            </div>
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(priorityForm) }}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(queueForm) }}
                </form>
            </div>
            <div class="col-xs-6">
                <form action="#" method="post">
                    {{ form_widget(statusForm) }}
                </form>
            </div>
        </div>
        <div class="row">
            <form action="#" method="post">
                {{ form_widget(repinForm) }}
            </form>
        </div>
    {% endif %}

    <div class="comments-container">
        <div class="page-header">
            <h1><small>Discussion</small></h1>
        </div>
        {%  if comments|length > 0 %}

            {% for comment in comments %}
                <div class="jumbotron">
                    <span class="author label label-default"><a href="#" >{{ comment.USER_NAME|e }} {{ comment.USER_SURNAME|e }}</a></span>
                    <span class="date label label-primary">{{ comment.CMT_CREATION_DATE|e }}</span>
                    <p>{{ comment.CMT_VALUE }}</p>
                </div>
            {% endfor %}

        {% else %}
            <p>
                There are no comments
            </p>
        {% endif %}
        <form action="#" {{ form_enctype(commentForm) }} method="post">
            {{ form_widget(commentForm) }}
        </form>
    </div>
{% endblock %}