<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ app.request.basepath }}/fx/css/style.css" rel="stylesheet" media="screen">
		<link href="{{ app.request.basepath }}/fx/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ app.request.basepath }}/fx/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
		<link href="{{ app.request.basepath }}/fx/css/bootstrap-theme.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{ app.request.basepath }}/fx/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<header class="page-header">
    		<h1>Tickets system</h1>
    	</header>
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#">Main page</a></li>
            <li><a href="{{ url('/tickets/add') }}">Create ticket</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Queues <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Frontend</a></li>
                    <li><a href="#">Backend</a></li>
                </ul>
            </li>
            <li><a href="#">Admin panel</a></li>
            {% if app.session.get('user') %}
                <li class="dropdown right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{app.session.get('user')['login']}}   <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url('/auth/change/password') }}">Change password</a></li>
                        <li><a href="{{ url('/auth/logout') }}">Log out</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>

		{% for flashMessage in app.session.getFlashBag.get('message') %}
			<div class="alert alert-{{ flashMessage.type }}">
				{{ flashMessage.content }}
			</div>
		{% endfor %}

        <div class="content" id="content">{% block content %}{% endblock %}</div>
    </body>
</html>